.icon {
  display: none;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../../img/icons__menu/menu.png);
  }

  &--close {
    background-image: url(../../img/icons__menu/close.png);
  }

  @include forMenu {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}