.title {
  padding-top: 60px;
  font-family: Neucha;
  font-weight: 500;
  font-size: 40px;
  color: #f8b74f;
  text-transform: uppercase;
  text-align: center;

  &--second {
    padding-top: 0;
  }

  @include onPoint {
    font-size: 30px;
    
  }
}